.error {
    color: red;
}

.form-signin {
    max-width: 300px;
    margin: 0 auto;
}

.fakelink {
    cursor: pointer;
    cursor: hand;
}

.inner-container {
    margin-top: 100px;
}

.view-container {
    margin-top: 50px;
}