<div ng-controller="DocumentsController" class="view-container">
    <h3>Documents</h3><button ng-click="createDocument()">Create new</button>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Document name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="document in documents">
            <th scope="row">{{$index + 1}}</th>
            <td><span ng-bind="document.name"></span></td>
            <td><button ng-click="openDocument($index)">Open</button></td>
            <td><button ng-click="deleteDocument(document, $index)">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>